{% extends 'base.html.twig' %}
{% block title 'Manage options' %}
{% block body %}
    <div class="container mt-4">
        <h1>Manage options</h1>
        {%  for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
        {%  endfor %}
        
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for tag in tags %}
                <tr>
                    <td>{{ tag.name }}</td>
                    <td>
                        <a href="{{ path('admin.tag.edit', {id: tag.id}) }}" class="btn btn-secondary">Edit</a>
                        <form method="post" action="{{ path('admin.property.delete', {id: tag.id}) }}" style="display:inline-block" onsubmit="return confirm('Are you really to suppress this item ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right">
            <a href="{{ path('admin.tag.new') }}" class="btn btn-primary"> Add a new option</a>
        </div>
    </div>
{% endblock %}